.main_container{
  margin-top: 7% !important;
  align-content: center !important;
}

.card_container{
  max-width: 300px !important;
  width: 260px !important;
  margin-right: 1vw!important;
}

.sub_container{
  display: flex !important;
  margin-top: 2% !important;
  align-content: center !important;
}

.header_name{
  text-align: center !important;
}

.modal_container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
  box-shadow: 24;
  background-color: white;
  border-radius: 10px !important;
}

.modal_form{
  margin-top: 5% !important;
}

.swal2-container {
  z-index: 10000 !important;
}